body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
}

.navbar {
  width: 100% !important;
}

.d-flex {
  width: 100% !important;
  padding: 0;
  margin: 0;
}

#map {
  display: flex;
  height: 95vh;
  margin-top: 55px;
}

.bigScreenMenu {
  display: none;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.info-window {
  font-family: 'Montserrat', sans-serif;
}
.info-content {
  color: #999;
}

.info {
  margin-top: 40px;
  margin-bottom: 40px;
  max-height: 100%;
  overflow: hidden;
}

.cursor:hover {
  cursor: pointer;
}

.tripImg {
  max-width: 30vw;
  height: auto;
  max-height: 40vh;
}

.infoContent {
  text-align: center;
  padding: 5px;
}

.max {
  max-height: 65vh;
  overflow: auto;
}

@media (min-width: 768px) {
  .bigScreenMenu {
    display: block;
  }

  .container {
    margin: auto !important;
    padding: auto !important;
  }

  .dropdown-menu {
    max-height: 40vh;
    overflow: auto;
  }
  .dropdown-menu::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }

  .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #545b62;
  }
}
